# Abgabe 1

### Gruppe 3
 - Svetlana Marchenko Matrikel NR 20236284
 - Rachid En Nasiry

## Daten 
In der Übung arbeiten Sie mit dem *data_customer_shopping* Datensatz. Dieser umfasst 1286 Beobachtungen zu den Verkaufspreisen von Häusern in Windsor, Kanada. Die Daten sind in der Datei `data_customer_shopping.csv` abgelegt.
Spalten:
- Kunden-ID: Eine einzigartige Kennung, die jedem Kunden zugewiesen wird, um sein Einkaufsverhalten über die Zeit hinweg zu verfolgen und zu analysieren.
## Variablen
- `Alter`: Das Alter des Kunden, liefert demografische Informationen für Segmentierung und gezielte Marketingstrategien.

- `Geschlecht`: Die Geschlechtsidentifikation des Kunden, eine wichtige demografische Variable, die Produktpräferenzen und Kaufmuster beeinflusst.

- `Gekaufter Artikel`: Das vom Kunden ausgewählte spezifische Produkt oder der Artikel während der Transaktion.

- `Kategorie`: Die breite Klassifikation oder Gruppe, zu der der gekaufte Artikel gehört (z.B. Kleidung, Elektronik, Lebensmittel).

- `Kaufbetrag (USD)`: Der monetäre Wert der Transaktion, angegeben in US-Dollar (USD), zeigt die Kosten der gekauften Artikel an.

- `Standort`: Der geografische Ort des Kaufs, bietet Einblicke in regionale Vorlieben und Markttrends.

- `Größe`: Die Größenangabe (falls zutreffend) des gekauften Artikels, relevant für Bekleidung, Schuhe und bestimmte Verbrauchsgüter.

- `Farbe`: Die Farbvariante oder -auswahl des gekauften Artikels, beeinflusst Kundenpräferenzen und Produktverfügbarkeit.

- `Saison`: Die saisonale Relevanz des gekauften Artikels (z.B. Frühling, Sommer, Herbst, Winter), wirkt sich auf Bestandsmanagement und Marketingstrategien aus.

- `Bewertung`: Eine numerische oder qualitative Beurteilung des Kunden bezüglich seiner Zufriedenheit mit dem gekauften Artikel.

- `Abonnementstatus`: Zeigt an, ob sich der Kunde für einen Abonnementdienst entschieden hat, gibt Einblicke in seine Treue und das Potenzial für wiederkehrende Einnahmen.

- `Versandart`: Gibt die Methode an, die zur Lieferung des gekauften Artikels verwendet wurde (z.B. Standardversand, Expresslieferung), beeinflusst Lieferzeiten und -kosten.

- `Angewandter Rabatt`: Zeigt an, ob ein Werberabatt auf den Kauf angewendet wurde, beleuchtet Preisempfindlichkeit und Promotion-Effektivität.

- `Verwendeter Promo-Code`: Notiert, ob ein Werbecode oder Gutschein während der Transaktion genutzt wurde, hilft beim Bewerten des Erfolgs von Marketingkampagnen.

- `Frühere Käufe`: Stellt Informationen über die Anzahl oder Häufigkeit früherer Käufe des Kunden zur Verfügung, trägt zur Kundensegmentierung und -bindung bei.

- `Zahlungsmethode`: Gibt die vom Kunden verwendete Zahlungsart an (z.B. Kreditkarte, Bargeld), bietet Einblicke in bevorzugte Zahlungsoptionen.

- `Kaufhäufigkeit`: Zeigt an, wie oft der Kunde Kaufaktivitäten tätigt, ein wichtiger Indikator zur Bewertung von Kundenloyalität und Lebenszeitwert.

## 1. Fragestellung entwicklen und Daten aufbereiten

### Fragestellung

In welchen Jahreszeiten zeigen ältere Frauen bevorzugtes Kaufverhalten hinsichtlich bestimmter Produktkategorien? Wie variieren diese Präferenzen je nach geografischem Standort?

### Hypothese:

Ältere Frauen bevorzugen bestimmte Produktkategorien in verschiedenen Jahreszeiten, wobei ihre Präferenzen von demografischen Faktoren wie Alter und Geschlecht beeinflusst werden. Es wird angenommen, dass ältere Frauen möglicherweise während der kälteren Jahreszeiten vermehrt Bekleidungs- und Haushaltsprodukte kaufen, während in den wärmeren Jahreszeiten eine höhere Nachfrage nach Outdoor- und Freizeitartikeln besteht. Darüber hinaus wird vermutet, dass die Präferenzen von älteren Frauen je nach geografischem Standort variieren könnten, wobei regionale Unterschiede in Klima, Lebensstil und kulturellen Einflüssen eine Rolle spielen könnten

#### Laden der Daten

Die folgende Schritte werden durchgeführt werden durchgefürt um die Daten zu laden und kontrolieren ob die Dimension des Datensatzes ist korrekt

In [2]:
# Laden der notwendigen Bibliotheken
import pandas as pd
from sklearn.preprocessing import LabelEncoder

FILENAME_DATASET = "../data/data_customers_shopping.csv"

In [4]:
#Pfad zur csv-Datei

FILENAME_DATASET = "../data/data_customers_shopping.csv"

In [15]:
#Datensatz wird kopiert und  kontroliert ob die Dimension des Datensatzes ist korrekt
df = pd.read_csv(FILENAME_DATASET,
                 sep=',',
                 encoding='utf-8',
                 header=0)
df_Copy = df
nSpalten = df_Copy.shape[1]
nZeilen = df_Copy.shape[0]
if nSpalten == 18 and nZeilen == 1286:
    print(
        f"Der Datensatz hat  Zeilen {nZeilen} und {nSpalten} Spalten. Die Dimension des Datensatzes ist korrekt.")
else:
    print("Fehler: Der Datensatz hat nicht die erwartete Dimension")
df_Copy.head()

Der Datensatz hat  Zeilen 1286 und 18 Spalten. Die Dimension des Datensatzes ist korrekt.

,CustomerID,Age,Gender,ItemPurchased,Category,PurchaseAmountUSD,Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases
0,1.0,55,Male,Blouse,Clothing,53.0,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19,Male,Sweater,Clothing,64.0,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,6.0,46,Male,Sneakers,Footwear,20.0,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
3,7.0,63,Male,Shirt,Clothing,85.0,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
4,8.0,27,Male,Shorts,Clothing,34.0,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly

In [6]:

# Berechnen deskriptiver Statistiken für _alle_ Variablen
df_Copy.describe(include="all").round(2)

,CustomerID,Age,Gender,ItemPurchased,Category,PurchaseAmountUSD,Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases
count,1281.00,1286.00,1286,1286,1286,1281.00,1279,1286,1286,1286,1286.00,1286,1286,1286,1286,1286.00,1286,1286
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Pants,Clothing,NaN,Alabama,M,Teal,Spring,NaN,No,Free Shipping,No,No,NaN,Cash,Every 3 Months
freq,NaN,NaN,890,62,591,NaN,34,579,68,344,NaN,947,233,736,736,NaN,232,200
mean,1938.95,43.77,NaN,NaN,NaN,53.51,NaN,NaN,NaN,NaN,3.68,NaN,NaN,NaN,NaN,25.02,NaN,NaN
std,1114.19,16.97,NaN,NaN,NaN,70.95,NaN,NaN,NaN,NaN,0.87,NaN,NaN,NaN,NaN,14.47,NaN,NaN
min,1.00,-65.00,NaN,NaN,NaN,-993.00,NaN,NaN,NaN,NaN,-3.00,NaN,NaN,NaN,NaN,1.00,NaN,NaN
25%,1005.00,31.00,NaN,NaN,NaN,37.00,NaN,NaN,NaN,NaN,3.10,NaN,NaN,NaN,NaN,13.00,NaN,NaN
50%,1912.00,45.00,NaN,NaN,NaN,59.00,NaN,NaN,NaN,NaN,3.70,NaN,NaN,NaN,NaN,25.00,NaN,NaN
75%,2880.00,57.00,NaN,NaN,NaN,79.00,NaN,NaN,NaN,NaN,4.30,NaN,NaN,NaN,NaN,38.00,NaN,NaN
max,3895.00,70.00,NaN,NaN,NaN,100.00,NaN,NaN,NaN,NaN,5.00,NaN,NaN,NaN,NaN,50.00,NaN,NaN

#### Ergänzen und Manipulieren der Daten

Die folgende Schritte werden durchgeführt, um die Daten zu ergänzen und eine neue Variable basierend auf dem Einkaufsverhalten zu erstellen, die für weitere Analysezwecke nützlich sein kann.

In [7]:
#Alle numerischen Werte werden in absolute Zahlen umgewandelt
df_Copy[[ 'Age','PurchaseAmountUSD' ,'ReviewRating' ]]=df[['Age','PurchaseAmountUSD', 'ReviewRating']].abs()

In [9]:
unique_values = df_Copy['FrequencyofPurchases'].unique()
print(unique_values)

['Fortnightly' 'Weekly' 'Quarterly' 'Monthly' 'Annually' 'Every 3 Months'
 'Bi-Weekly']

In [13]:
# Create a dictionary mapping each frequency to its corresponding purchase per year
frequency_mapping = {
    'Fortnightly': 26,
    'Weekly': 52,
    'Quarterly': 4,
    'Monthly': 12,
    'Annually': 1,
    'Every 3 Months': 4,
    'Bi-Weekly': 104  # Assuming Bi-Weekly means two time a week 
}
# Map the values in the "FrequencyofPurchase" column to the corresponding purchase per year
df_Copy['PurchasePerYear'] = df_Copy['FrequencyofPurchases'].map(frequency_mapping)
print(df_Copy)
df_Copy.head()

      CustomerID  Age  Gender ItemPurchased     Category  PurchaseAmountUSD  \
0            1.0   55    Male        Blouse     Clothing               53.0
1            2.0   19    Male       Sweater     Clothing               64.0
2            6.0   46    Male      Sneakers     Footwear               20.0
3            7.0   63    Male         Shirt     Clothing               85.0
4            8.0   27    Male        Shorts     Clothing               34.0
...          ...  ...     ...           ...          ...                ...
1281      3881.0   42  Female         Shirt     Clothing               20.0
1282      3882.0   56  Female         Scarf  Accessories               25.0
1283      3888.0   40  Female         Shirt     Clothing               34.0
1284      3892.0   36  Female         Dress     Clothing               30.0
1285      3895.0   66  Female         Skirt     Clothing               78.0

           Location Size     Color  Season  ReviewRating SubscriptionStatus  \
0          Kentucky    L      Gray  Winter           3.1                Yes
1             Maine    L    Maroon  Winter           3.1                Yes
2           Wyoming    M     White  Summer           2.9                Yes
3           Montana    M      Gray    Fall           3.2                Yes
4         Louisiana    L  Charcoal  Winter           3.2                Yes
...             ...  ...       ...     ...           ...                ...
1281  Massachusetts    M       Red  Winter           3.9                 No
1282        Georgia    L    Silver  Spring           2.8                 No
1283         Kansas    M  Charcoal  Spring           2.7                 No
1284       Colorado    L     Peach  Winter           4.7                 No
1285    Connecticut    L     White  Spring           3.9                 No

        ShippingType DiscountApplied PromoCodeUsed  PreviousPurchases  \
0            Express             Yes           Yes                 14
1            Express             Yes           Yes                  2
2           Standard             Yes           Yes                 14
3      Free Shipping             Yes           Yes                 49
4      Free Shipping             Yes           Yes                 19
...              ...             ...           ...                ...
1281   Free Shipping              No            No                 40
1282  2-Day Shipping              No            No                 17
1283         Express              No            No                  1
1284   Free Shipping              No            No                  6
1285  2-Day Shipping              No            No                 44

      PaymentMethod FrequencyofPurchases  PurchasePerYear
0             Venmo          Fortnightly               26
1              Cash          Fortnightly               26
2             Venmo               Weekly               52
3              Cash            Quarterly                4
4       Credit Card               Weekly               52
...             ...                  ...              ...
1281         PayPal              Monthly               12
1282     Debit Card               Weekly               52
1283    Credit Card            Quarterly                4
1284  Bank Transfer            Quarterly                4
1285    Credit Card       Every 3 Months                4

[1286 rows x 19 columns]

,CustomerID,Age,Gender,ItemPurchased,Category,PurchaseAmountUSD,Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases,PurchasePerYear
0,1.0,55,Male,Blouse,Clothing,53.0,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,26
1,2.0,19,Male,Sweater,Clothing,64.0,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,26
2,6.0,46,Male,Sneakers,Footwear,20.0,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly,52
3,7.0,63,Male,Shirt,Clothing,85.0,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly,4
4,8.0,27,Male,Shorts,Clothing,34.0,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly,52

In [14]:

df_Copy.describe(include="all").round(2)

,CustomerID,Age,Gender,ItemPurchased,Category,PurchaseAmountUSD,Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases,PurchasePerYear
count,1281.00,1286.00,1286,1286,1286,1281.00,1279,1286,1286,1286,1286.00,1286,1286,1286,1286,1286.00,1286,1286,1286.00
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7,NaN
top,NaN,NaN,Male,Pants,Clothing,NaN,Alabama,M,Teal,Spring,NaN,No,Free Shipping,No,No,NaN,Cash,Every 3 Months,NaN
freq,NaN,NaN,890,62,591,NaN,34,579,68,344,NaN,947,233,736,736,NaN,232,200,NaN
mean,1938.95,44.50,NaN,NaN,NaN,64.06,NaN,NaN,NaN,NaN,3.71,NaN,NaN,NaN,NaN,25.02,NaN,NaN,28.87
std,1114.19,14.95,NaN,NaN,NaN,61.58,NaN,NaN,NaN,NaN,0.71,NaN,NaN,NaN,NaN,14.47,NaN,NaN,34.39
min,1.00,18.00,NaN,NaN,NaN,20.00,NaN,NaN,NaN,NaN,2.50,NaN,NaN,NaN,NaN,1.00,NaN,NaN,1.00
25%,1005.00,32.00,NaN,NaN,NaN,38.00,NaN,NaN,NaN,NaN,3.10,NaN,NaN,NaN,NaN,13.00,NaN,NaN,4.00
50%,1912.00,45.00,NaN,NaN,NaN,60.00,NaN,NaN,NaN,NaN,3.70,NaN,NaN,NaN,NaN,25.00,NaN,NaN,12.00
75%,2880.00,57.00,NaN,NaN,NaN,80.00,NaN,NaN,NaN,NaN,4.30,NaN,NaN,NaN,NaN,38.00,NaN,NaN,52.00
max,3895.00,70.00,NaN,NaN,NaN,993.00,NaN,NaN,NaN,NaN,5.00,NaN,NaN,NaN,NaN,50.00,NaN,NaN,104.00

####  Dimension des Datensatzes anzeigen lassen

In [6]:
# Dimension des Datensatzes anzeigen lassen
nSpalten = df.shape[1]
nZeilen = df.shape[0]
if nSpalten == 18 and nZeilen == 1286:
    print(
        f"Der Datensatz hat  Zeilen {nZeilen} und {nSpalten} Spalten. Die Dimension des Datensatzes ist korrekt.")
else:
    print("Fehler: Der Datensatz hat nicht die erwartete Dimension")

Der Datensatz hat  Zeilen 1286 und 18 Spalten. Die Dimension des Datensatzes ist korrekt.

In [18]:
df.isnull().sum()

CustomerID              5
Age                     0
Gender                  0
ItemPurchased           0
Category                0
PurchaseAmountUSD       5
Location                7
Size                    0
Color                   0
Season                  0
ReviewRating            0
SubscriptionStatus      0
ShippingType            0
DiscountApplied         0
PromoCodeUsed           0
PreviousPurchases       0
PaymentMethod           0
FrequencyofPurchases    0
dtype: int64

In [8]:
df_clothing_season = df [['Category', 'Season']].copy()
print(df_clothing_season.head())

   Category  Season
0  Clothing  Winter
1  Clothing  Winter
2  Footwear  Summer
3  Clothing    Fall
4  Clothing  Winter

In [20]:
clothing_data = df_clothing_season[df_clothing_season['Category']=='Clothing']
print (clothing_data.tail())

      Category  Season
1280  Clothing  Spring
1281  Clothing  Winter
1283  Clothing  Spring
1284  Clothing  Winter
1285  Clothing  Spring

In [19]:
clothing_data.isnull().sum()

Category    0
Season      0
dtype: int64

In [18]:
clothing_data.dropna(subset=["Category"]).shape
clothing_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 1285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  591 non-null    object
 1   Season    591 non-null    object
dtypes: object(2)
memory usage: 13.9+ KB

In [21]:
print(clothing_data.head())

clothing_data.info()

   Category  Season
0  Clothing  Winter
1  Clothing  Winter
3  Clothing    Fall
4  Clothing  Winter
6  Clothing  Winter
<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 1285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  591 non-null    object
 1   Season    591 non-null    object
dtypes: object(2)
memory usage: 13.9+ KB

In [22]:
clothing_data["Season"].plot.hist()

TypeError: no numeric data to plot

In [7]:
VARIABLES_TO_OHE = ["Category"]

pd.get_dummies(df[VARIABLES_TO_OHE])

,Category_Accessories,Category_Clothing,Category_Footwear,Category_Outerwear
0,False,True,False,False
1,False,True,False,False
2,False,False,True,False
3,False,True,False,False
4,False,True,False,False
...,...,...,...,...
1281,False,True,False,False
1282,True,False,False,False
1283,False,True,False,False
1284,False,True,False,False
1285,False,True,False,False