# Abgabe 1

### Gruppe 3
 - Svetlana Marchenko Matrikel NR 20236284
 - Rachid En Nasiry

## Daten 
In der Übung arbeiten Sie mit dem *data_customer_shopping* Datensatz. Dieser umfasst 1286 Beobachtungen zu den Verkaufspreisen von Häusern in Windsor, Kanada. Die Daten sind in der Datei `data_customer_shopping.csv` abgelegt.
Spalten:
- Kunden-ID: Eine einzigartige Kennung, die jedem Kunden zugewiesen wird, um sein Einkaufsverhalten über die Zeit hinweg zu verfolgen und zu analysieren.
## Variablen
- `Alter`: Das Alter des Kunden, liefert demografische Informationen für Segmentierung und gezielte Marketingstrategien.

- `Geschlecht`: Die Geschlechtsidentifikation des Kunden, eine wichtige demografische Variable, die Produktpräferenzen und Kaufmuster beeinflusst.

- `Gekaufter Artikel`: Das vom Kunden ausgewählte spezifische Produkt oder der Artikel während der Transaktion.

- `Kategorie`: Die breite Klassifikation oder Gruppe, zu der der gekaufte Artikel gehört (z.B. Kleidung, Elektronik, Lebensmittel).

- `Kaufbetrag (USD)`: Der monetäre Wert der Transaktion, angegeben in US-Dollar (USD), zeigt die Kosten der gekauften Artikel an.

- `Standort`: Der geografische Ort des Kaufs, bietet Einblicke in regionale Vorlieben und Markttrends.

- `Größe`: Die Größenangabe (falls zutreffend) des gekauften Artikels, relevant für Bekleidung, Schuhe und bestimmte Verbrauchsgüter.

- `Farbe`: Die Farbvariante oder -auswahl des gekauften Artikels, beeinflusst Kundenpräferenzen und Produktverfügbarkeit.

- `Saison`: Die saisonale Relevanz des gekauften Artikels (z.B. Frühling, Sommer, Herbst, Winter), wirkt sich auf Bestandsmanagement und Marketingstrategien aus.

- `Bewertung`: Eine numerische oder qualitative Beurteilung des Kunden bezüglich seiner Zufriedenheit mit dem gekauften Artikel.

- `Abonnementstatus`: Zeigt an, ob sich der Kunde für einen Abonnementdienst entschieden hat, gibt Einblicke in seine Treue und das Potenzial für wiederkehrende Einnahmen.

- `Versandart`: Gibt die Methode an, die zur Lieferung des gekauften Artikels verwendet wurde (z.B. Standardversand, Expresslieferung), beeinflusst Lieferzeiten und -kosten.

- `Angewandter Rabatt`: Zeigt an, ob ein Werberabatt auf den Kauf angewendet wurde, beleuchtet Preisempfindlichkeit und Promotion-Effektivität.

- `Verwendeter Promo-Code`: Notiert, ob ein Werbecode oder Gutschein während der Transaktion genutzt wurde, hilft beim Bewerten des Erfolgs von Marketingkampagnen.

- `Frühere Käufe`: Stellt Informationen über die Anzahl oder Häufigkeit früherer Käufe des Kunden zur Verfügung, trägt zur Kundensegmentierung und -bindung bei.

- `Zahlungsmethode`: Gibt die vom Kunden verwendete Zahlungsart an (z.B. Kreditkarte, Bargeld), bietet Einblicke in bevorzugte Zahlungsoptionen.

- `Kaufhäufigkeit`: Zeigt an, wie oft der Kunde Kaufaktivitäten tätigt, ein wichtiger Indikator zur Bewertung von Kundenloyalität und Lebenszeitwert.

## 1. Fragestellung entwicklen und Daten aufbereiten

### Fragestellung

In welchen Jahreszeiten zeigen ältere Frauen bevorzugtes Kaufverhalten hinsichtlich bestimmter Produktkategorien? Wie variieren diese Präferenzen je nach geografischem Standort?

### Hypothese:

Ältere Frauen bevorzugen bestimmte Produktkategorien in verschiedenen Jahreszeiten, wobei ihre Präferenzen von demografischen Faktoren wie Alter und Geschlecht beeinflusst werden. Es wird angenommen, dass ältere Frauen möglicherweise während der kälteren Jahreszeiten vermehrt Bekleidungs- und Haushaltsprodukte kaufen, während in den wärmeren Jahreszeiten eine höhere Nachfrage nach Outdoor- und Freizeitartikeln besteht. Darüber hinaus wird vermutet, dass die Präferenzen von älteren Frauen je nach geografischem Standort variieren könnten, wobei regionale Unterschiede in Klima, Lebensstil und kulturellen Einflüssen eine Rolle spielen könnten

#### Laden der Daten

Die folgende Schritte werden durchgeführt werden durchgefürt um die Daten zu laden und kontrolieren ob die Dimension des Datensatzes ist korrekt

In [297]:
# Laden der notwendigen Bibliotheken
import pandas as pd
from sklearn.preprocessing import LabelEncoder
#import numpy as np

FILENAME_DATASET = "../../data/data_customers_shopping.csv"

In [272]:
#Pfad zur csv-Datei

FILENAME_DATASET = ".../data_customers_shopping.csv"

In [298]:
#Datensatz wird kopiert und  kontroliert ob die Dimension des Datensatzes ist korrekt
df = pd.read_csv(FILENAME_DATASET,
                 sep=',',
                 encoding='utf-8',
                 header=0)
df_Copy = df
nSpalten = df_Copy.shape[1]
nZeilen = df_Copy.shape[0]
if nSpalten == 18 and nZeilen == 1286:
    print(
       f"Der Datensatz hat  Zeilen {nZeilen} und {nSpalten} Spalten. Die Dimension des Datensatzes ist korrekt.")
else:
    print("Fehler: Der Datensatz hat nicht die erwartete Dimension")
#df_Copy.head()

Der Datensatz hat  Zeilen 1286 und 18 Spalten. Die Dimension des Datensatzes ist korrekt.

#### Ergänzen und Manipulieren der Daten

Die folgenden Schritte werden durchgeführt, um die Daten zu bereinigen und eine neue Variable basierend auf dem Einkaufsverhalten zu erstellen, die für weitere Analysezwecke nützlich sein kann:

   - Zeigen eine Zusammenfassung der Informationen über den Data Frame an, einschließlich der Anzahl der Nicht-Null-Einträge und der Datentypen der Spalten.
   - Ersetzen alle Werte in Spalte 'CustomerID' durch 'anonym' - da die IDs sind nicht relevant für unsere Analyse
   - Wandelen alle numerischen Werte in absolute Zahlen um.
   - Zählen die Anzahl der fehlenden Werte in jeder Spalte des Data Frames.
   - Zeigen der deskriptiven Statistiken um zu sehen ob mean und median Werte für 'PurchaseAmountUSD' unterscheiden sich stark und wie hoch ist max Wert um zu entscheiden nach welche Strategie die NaN Values für Variable PurchaseAmountUSD zu imputieren 
   - Mean Strategie ist augewält für die NaN für die Variable PurchaseAmountUSD. Die Values sind imputed
   - Zeihgen die Values für Variable 'Location' - 50 unique Values sind gezeigt und 1 NaN. 
   - Unsere Vermutung lautet, dass der fehlende Wert für die Variable 'Location' "District of Columbia" ist. Dies basiert darauf, dass alle 50 Bundesstaaten der USA im Datensatz vertreten sind, aber nicht der "District of Columbia". Es ist möglich, dass dieser fehlt, da in der Umfrage der Distrikt nicht als eigenständiger Staat aufgeführt werden konnte.

In [299]:
#Zeigt eine Zusammenfassung der Informationen über den Data Frame an, einschließlich Anzahl der Nicht-Null-Einträge und Datentypen der Spalten
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286 entries, 0 to 1285
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            1281 non-null   float64
 1   Age                   1286 non-null   int64
 2   Gender                1286 non-null   object
 3   ItemPurchased         1286 non-null   object
 4   Category              1286 non-null   object
 5   PurchaseAmountUSD     1281 non-null   float64
 6   Location              1279 non-null   object
 7   Size                  1286 non-null   object
 8   Color                 1286 non-null   object
 9   Season                1286 non-null   object
 10  ReviewRating          1286 non-null   float64
 11  SubscriptionStatus    1286 non-null   object
 12  ShippingType          1286 non-null   object
 13  DiscountApplied       1286 non-null   object
 14  PromoCodeUsed         1286 non-null   object
 15  PreviousPurchases     1286 non-null   int64
 16  PaymentMethod         1286 non-null   object
 17  FrequencyofPurchases  1286 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 181.0+ KB

In [300]:
# Ersetze alle Werte in Spalte 'CustomerID' durch 'anonym'
df_Copy ['CustomerID'] = 'anonym'
df_Copy ['CustomerID'].head()

0    anonym
1    anonym
2    anonym
3    anonym
4    anonym
Name: CustomerID, dtype: object

In [301]:
#Alle numerischen Werte werden in absolute Zahlen umgewandelt
df_Copy[[ 'Age','PurchaseAmountUSD' ,'ReviewRating' ]]=df[['Age','PurchaseAmountUSD', 'ReviewRating']].abs()

In [302]:
# Zähle die Anzahl der fehlenden Werte in jeder Spalte des DataFrames
df_Copy.isnull().sum()

CustomerID              0
Age                     0
Gender                  0
ItemPurchased           0
Category                0
PurchaseAmountUSD       5
Location                7
Size                    0
Color                   0
Season                  0
ReviewRating            0
SubscriptionStatus      0
ShippingType            0
DiscountApplied         0
PromoCodeUsed           0
PreviousPurchases       0
PaymentMethod           0
FrequencyofPurchases    0
dtype: int64

In [303]:
#Filtern des DataFrames nach fehlenden Werten in 'PurchaseAmountUSD' oder 'Location'
missing_values_subset = df_Copy[df_Copy['PurchaseAmountUSD'].isnull() | df['Location'].isnull()]

# Display the filtered DataFrame
print(missing_values_subset)

     CustomerID  Age  Gender ItemPurchased     Category  PurchaseAmountUSD  \
103      anonym   37    Male       Sweater     Clothing                NaN
216      anonym   64    Male    Sunglasses  Accessories              27.00
313      anonym   48    Male    Sunglasses  Accessories                NaN
348      anonym   37    Male       Sweater     Clothing              59.00
364      anonym   31    Male         Jeans     Clothing                NaN
501      anonym   59    Male          Coat    Outerwear              21.00
543      anonym   51    Male       Handbag  Accessories              40.00
694      anonym   56    Male       Jewelry  Accessories              88.00
779      anonym   22    Male        Jacket    Outerwear                NaN
902      anonym   49  Female       Sweater     Clothing              30.00
952      anonym   34  Female         Jeans     Clothing              87.00
1116     anonym   27  Female       T-shirt     Clothing                NaN

        Location Size   Color  Season  ReviewRating SubscriptionStatus  \
103     Delaware    L   Olive  Summer          3.60                Yes
216          NaN    M   Beige  Winter          3.10                Yes
313   Washington    S  Yellow  Spring          4.80                Yes
348          NaN    M  Silver    Fall          4.40                 No
364     Maryland    M   White  Winter          2.60                 No
501          NaN    M    Teal  Spring          3.90                 No
543          NaN    L   Brown  Winter          3.40                 No
694          NaN   XL     Red  Spring          3.10                 No
779   New Mexico    L   Brown  Winter          3.10                 No
902          NaN    L  Silver  Summer          2.80                 No
952          NaN    L    Teal  Summer          3.80                 No
1116  Washington    M  Silver  Summer          3.10                 No

        ShippingType DiscountApplied PromoCodeUsed  PreviousPurchases  \
103          Express             Yes           Yes                 27
216    Free Shipping             Yes           Yes                 27
313     Store Pickup             Yes           Yes                 24
348          Express             Yes           Yes                 49
364     Store Pickup             Yes           Yes                  6
501     Next Day Air             Yes           Yes                 22
543   2-Day Shipping             Yes           Yes                 24
694          Express              No            No                 14
779         Standard              No            No                 46
902     Store Pickup              No            No                 18
952   2-Day Shipping              No            No                 46
1116  2-Day Shipping              No            No                  1

      PaymentMethod FrequencyofPurchases
103   Bank Transfer       Every 3 Months
216           Venmo               Weekly
313            Cash               Weekly
348     Credit Card          Fortnightly
364     Credit Card       Every 3 Months
501   Bank Transfer            Quarterly
543   Bank Transfer       Every 3 Months
694            Cash              Monthly
779      Debit Card          Fortnightly
902   Bank Transfer          Fortnightly
952   Bank Transfer              Monthly
1116         PayPal            Bi-Weekly

In [304]:
# Filtern des DataFrames nach 'ItemPurchased' mit dem Wert 'Sunglasses' und 'Gender'  
sunglasses_df = df_Copy[df_Copy['ItemPurchased'] == 'Sunglasses']
sunglasses_df_m = df_Copy[(df_Copy['ItemPurchased'] == 'Sunglasses') & (df_Copy['Gender']=='Male')]
sunglasses_df_f = df_Copy[(df_Copy['ItemPurchased'] == 'Sunglasses') & (df_Copy['Gender']=='Female')]
durchschnitt = sunglasses_df['PurchaseAmountUSD'].mean()
mittelwert = sunglasses_df['PurchaseAmountUSD'].median()
durchschnitt_m = sunglasses_df_m['PurchaseAmountUSD'].mean()
mittelwert_m = sunglasses_df_m['PurchaseAmountUSD'].median()
durchschnitt_f = sunglasses_df_f['PurchaseAmountUSD'].mean()
mittelwert_f = sunglasses_df_f['PurchaseAmountUSD'].median()
max_purchase_amount = sunglasses_df['PurchaseAmountUSD'].max()

# Ausgabe der deskriptiven Statistiken um zu sehen ob mean und median Werte für Sunglasses unterscheiden sich stark und we hoch ist max Wert um zu entscheiden nach welche Strategie die Nan in Variable PurchaseAmountUSD zu imputeren
print("Durchschnittlicher Kaufbetrag für Sonnenbrillen:", durchschnitt, durchschnitt_m, durchschnitt_f)
print("Mittlerer Kaufbetrag für Sonnenbrillen:", mittelwert, mittelwert_m, mittelwert_f)
print("Mittlerer Kaufbetrag für Sonnenbrillen:", max_purchase_amount)

Durchschnittlicher Kaufbetrag für Sonnenbrillen: 64.0 65.82051282051282 60.26315789473684
Mittlerer Kaufbetrag für Sonnenbrillen: 66.5 69.0 58.0
Mittlerer Kaufbetrag für Sonnenbrillen: 174.0

In [306]:
from sklearn.impute import SimpleImputer

# Define the variables to impute
VARIABLES_TO_IMPUTE = ["PurchaseAmountUSD"]

# Define filtering conditions for different subsets
filter_conditions = [
    (df_Copy['Gender'] == 'Male') & (df_Copy['ItemPurchased'] == 'Sunglasses'),
    (df_Copy['Gender'] == 'Male') & (df_Copy['ItemPurchased'] == 'Sweater'),
    (df_Copy['Gender'] == 'Male') & (df_Copy['ItemPurchased'] == 'Jeans'),
    (df_Copy['Gender'] == 'Male') & (df_Copy['ItemPurchased'] == 'Jacket'),
    (df_Copy['Gender'] == 'Female') & (df_Copy['ItemPurchased'] == 'T-shirt')
]



# Filter the DataFrame and apply imputation for each condition
for condition in filter_conditions:
    filtered_df = df_Copy[condition]
    mean_imputer = SimpleImputer(strategy='mean')
    for variable in VARIABLES_TO_IMPUTE:
        result_mean_imputer = mean_imputer.fit_transform(
            filtered_df[variable].values.reshape(-1, 1)
        )
        result_mean_imputer_rounded = np.round(result_mean_imputer)
        df_imputed = pd.DataFrame(result_mean_imputer_rounded, columns=[variable], index=filtered_df.index)
        df_Copy.loc[filtered_df.index, variable] = df_imputed[variable].values
        
selected_dataPurchaseAmountImputed = df_Copy[VARIABLE_TO_IMPUTE]
#print(selected_data)

# Display the selected data
selected_dataPurchaseAmountImputed.to_csv('selected_dataPurchaseAmountImputed.csv', index=False)

In [307]:

unique_values_location = df_Copy['Location'].unique()
print(unique_values_location)

['Kentucky' 'Maine' 'Wyoming' 'Montana' 'Louisiana' 'Missouri' 'Hawaii'
 'Delaware' 'New Hampshire' 'New York' 'Rhode Island' 'Mississippi'
 'North Carolina' 'Oklahoma' 'Texas' 'Arizona' 'Maryland' 'Vermont'
 'Alaska' 'New Mexico' 'South Carolina' 'West Virginia' 'New Jersey'
 'Virginia' 'Indiana' 'Utah' 'California' 'Alabama' 'Florida'
 'South Dakota' 'Washington' 'Kansas' 'Colorado' 'Connecticut'
 'North Dakota' 'Idaho' 'Nebraska' 'Pennsylvania' 'Wisconsin' 'Minnesota'
 'Nevada' 'Arkansas' 'Tennessee' 'Iowa' 'Oregon' 'Georgia' 'Massachusetts'
 'Michigan' 'Illinois' nan 'Ohio']

In [308]:
# Replace NaN values in the "Location" column with "District of Columbia"
df_Copy['Location'] = df_Copy['Location'].fillna('District of Columbia')
unique_values_location = df_Copy['Location'].unique()
print(unique_values_location)

df_Copy.isnull().sum()

['Kentucky' 'Maine' 'Wyoming' 'Montana' 'Louisiana' 'Missouri' 'Hawaii'
 'Delaware' 'New Hampshire' 'New York' 'Rhode Island' 'Mississippi'
 'North Carolina' 'Oklahoma' 'Texas' 'Arizona' 'Maryland' 'Vermont'
 'Alaska' 'New Mexico' 'South Carolina' 'West Virginia' 'New Jersey'
 'Virginia' 'Indiana' 'Utah' 'California' 'Alabama' 'Florida'
 'South Dakota' 'Washington' 'Kansas' 'Colorado' 'Connecticut'
 'North Dakota' 'Idaho' 'Nebraska' 'Pennsylvania' 'Wisconsin' 'Minnesota'
 'Nevada' 'Arkansas' 'Tennessee' 'Iowa' 'Oregon' 'Georgia' 'Massachusetts'
 'Michigan' 'Illinois' 'District of Columbia' 'Ohio']

CustomerID              0
Age                     0
Gender                  0
ItemPurchased           0
Category                0
PurchaseAmountUSD       0
Location                0
Size                    0
Color                   0
Season                  0
ReviewRating            0
SubscriptionStatus      0
ShippingType            0
DiscountApplied         0
PromoCodeUsed           0
PreviousPurchases       0
PaymentMethod           0
FrequencyofPurchases    0
dtype: int64

In [309]:
unique_values = df_Copy['FrequencyofPurchases'].unique()
print(unique_values)

['Fortnightly' 'Weekly' 'Quarterly' 'Monthly' 'Annually' 'Every 3 Months'
 'Bi-Weekly']

In [310]:
# Create a dictionary mapping each frequency to its corresponding purchase per year
frequency_mapping = {
    'Fortnightly': 26,
    'Weekly': 52,
    'Quarterly': 4,
    'Monthly': 12,
    'Annually': 1,
    'Every 3 Months': 4,
    'Bi-Weekly': 104  # Assuming Bi-Weekly means two time a week 
}
# Map the values in the "FrequencyofPurchase" column to the corresponding purchase per year
df_Copy['PurchasePerYear'] = df_Copy['FrequencyofPurchases'].map(frequency_mapping)
print(df_Copy)
df_Copy.head()

     CustomerID  Age  Gender ItemPurchased     Category  PurchaseAmountUSD  \
0        anonym   55    Male        Blouse     Clothing              53.00
1        anonym   19    Male       Sweater     Clothing              64.00
2        anonym   46    Male      Sneakers     Footwear              20.00
3        anonym   63    Male         Shirt     Clothing              85.00
4        anonym   27    Male        Shorts     Clothing              34.00
...         ...  ...     ...           ...          ...                ...
1281     anonym   42  Female         Shirt     Clothing              20.00
1282     anonym   56  Female         Scarf  Accessories              25.00
1283     anonym   40  Female         Shirt     Clothing              34.00
1284     anonym   36  Female         Dress     Clothing              30.00
1285     anonym   66  Female         Skirt     Clothing              78.00

           Location Size     Color  Season  ReviewRating SubscriptionStatus  \
0          Kentucky    L      Gray  Winter          3.10                Yes
1             Maine    L    Maroon  Winter          3.10                Yes
2           Wyoming    M     White  Summer          2.90                Yes
3           Montana    M      Gray    Fall          3.20                Yes
4         Louisiana    L  Charcoal  Winter          3.20                Yes
...             ...  ...       ...     ...           ...                ...
1281  Massachusetts    M       Red  Winter          3.90                 No
1282        Georgia    L    Silver  Spring          2.80                 No
1283         Kansas    M  Charcoal  Spring          2.70                 No
1284       Colorado    L     Peach  Winter          4.70                 No
1285    Connecticut    L     White  Spring          3.90                 No

        ShippingType DiscountApplied PromoCodeUsed  PreviousPurchases  \
0            Express             Yes           Yes                 14
1            Express             Yes           Yes                  2
2           Standard             Yes           Yes                 14
3      Free Shipping             Yes           Yes                 49
4      Free Shipping             Yes           Yes                 19
...              ...             ...           ...                ...
1281   Free Shipping              No            No                 40
1282  2-Day Shipping              No            No                 17
1283         Express              No            No                  1
1284   Free Shipping              No            No                  6
1285  2-Day Shipping              No            No                 44

      PaymentMethod FrequencyofPurchases  PurchasePerYear
0             Venmo          Fortnightly               26
1              Cash          Fortnightly               26
2             Venmo               Weekly               52
3              Cash            Quarterly                4
4       Credit Card               Weekly               52
...             ...                  ...              ...
1281         PayPal              Monthly               12
1282     Debit Card               Weekly               52
1283    Credit Card            Quarterly                4
1284  Bank Transfer            Quarterly                4
1285    Credit Card       Every 3 Months                4

[1286 rows x 19 columns]

,CustomerID,Age,Gender,ItemPurchased,Category,PurchaseAmountUSD,Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases,PurchasePerYear
0,anonym,55,Male,Blouse,Clothing,53.00,Kentucky,L,Gray,Winter,3.10,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,26
1,anonym,19,Male,Sweater,Clothing,64.00,Maine,L,Maroon,Winter,3.10,Yes,Express,Yes,Yes,2,Cash,Fortnightly,26
2,anonym,46,Male,Sneakers,Footwear,20.00,Wyoming,M,White,Summer,2.90,Yes,Standard,Yes,Yes,14,Venmo,Weekly,52
3,anonym,63,Male,Shirt,Clothing,85.00,Montana,M,Gray,Fall,3.20,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly,4
4,anonym,27,Male,Shorts,Clothing,34.00,Louisiana,L,Charcoal,Winter,3.20,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly,52

In [311]:

df_Copy.describe(include="all").round(2)

,CustomerID,Age,Gender,ItemPurchased,Category,PurchaseAmountUSD,Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases,PurchasePerYear
count,1286,1286.00,1286,1286,1286,1286.00,1286,1286,1286,1286,1286.00,1286,1286,1286,1286,1286.00,1286,1286,1286.00
unique,1,NaN,2,25,4,NaN,51,4,25,4,NaN,2,6,2,2,NaN,6,7,NaN
top,anonym,NaN,Male,Pants,Clothing,NaN,Alabama,M,Teal,Spring,NaN,No,Free Shipping,No,No,NaN,Cash,Every 3 Months,NaN
freq,1286,NaN,890,62,591,NaN,34,579,68,344,NaN,947,233,736,736,NaN,232,200,NaN
mean,NaN,44.50,NaN,NaN,NaN,64.04,NaN,NaN,NaN,NaN,3.71,NaN,NaN,NaN,NaN,25.02,NaN,NaN,28.87
std,NaN,14.95,NaN,NaN,NaN,61.46,NaN,NaN,NaN,NaN,0.71,NaN,NaN,NaN,NaN,14.47,NaN,NaN,34.39
min,NaN,18.00,NaN,NaN,NaN,20.00,NaN,NaN,NaN,NaN,2.50,NaN,NaN,NaN,NaN,1.00,NaN,NaN,1.00
25%,NaN,32.00,NaN,NaN,NaN,38.00,NaN,NaN,NaN,NaN,3.10,NaN,NaN,NaN,NaN,13.00,NaN,NaN,4.00
50%,NaN,45.00,NaN,NaN,NaN,60.00,NaN,NaN,NaN,NaN,3.70,NaN,NaN,NaN,NaN,25.00,NaN,NaN,12.00
75%,NaN,57.00,NaN,NaN,NaN,80.00,NaN,NaN,NaN,NaN,4.30,NaN,NaN,NaN,NaN,38.00,NaN,NaN,52.00
max,NaN,70.00,NaN,NaN,NaN,993.00,NaN,NaN,NaN,NaN,5.00,NaN,NaN,NaN,NaN,50.00,NaN,NaN,104.00

In [7]:
VARIABLES_TO_OHE = ["Category"]

pd.get_dummies(df[VARIABLES_TO_OHE])

,Category_Accessories,Category_Clothing,Category_Footwear,Category_Outerwear
0,False,True,False,False
1,False,True,False,False
2,False,False,True,False
3,False,True,False,False
4,False,True,False,False
...,...,...,...,...
1281,False,True,False,False
1282,True,False,False,False
1283,False,True,False,False
1284,False,True,False,False
1285,False,True,False,False